body{
    text-transform: capitalize;
    /* overflow: scroll; */
}
.top-nav-collapse {
    background-color: #78909c !important;
}
.navbar:not(.top-nav-collapse) {
    background: rgb(19, 143, 116) !important;
}
@media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
        background: #02ad82 !important;
    }
}
h1 {
    letter-spacing: 8px;
}
h5 {
    letter-spacing: 3px;
}
.hr-light {
    border-top: 3px solid #fff;
    width: 80px;
}
@media (max-width: 740px) {
    .full-height,
    .full-height body,
    .full-height header,
    .full-height header .view {
        height: 700px;
    }
}
#img{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 10%;
    background-position-y: 10%;
    background-position-x: center;
    width: 100%;
    height: 100%;
}


/* .targetcard{
    background-color: transparent !important;
    border: 2px solid white;
  }
  #loginemail{
    color: white;
  }
 .targeth3l{
   background-color: rgb(189, 184, 184); */
  /* background-color: rgb(247, 67, 67);  */


/* .loginbtn{ */
    /* background-color: rgb(255, 106, 106) !important; */
/* } */
/* #loginemail
{
  color: white;
}
#loginpassword{
  color: white;
} */

.form-simple .font-small {
    font-size: 0.8rem; }
  
  .form-simple .header {
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem; }
  
  .form-simple input[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #ff3547;
    -webkit-box-shadow: 0 1px 0 0 #ff3547;
    box-shadow: 0 1px 0 0 #ff3547; }
  
  .form-simple input[type=text]:focus:not([readonly]) + label {
    color: #4f4f4f !important; }
  
  .form-simple input[type=password]:focus:not([readonly]) {
    border-bottom: 1px solid #ff3547;
    -webkit-box-shadow: 0 1px 0 0 #ff3547;
    box-shadow: 0 1px 0 0 #ff3547; }
  
  .form-simple input[type=password]:focus:not([readonly]) + label {
    color: #4f4f4f; }

    .header{
        background-color: #d4d1d1;
    }


    #snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: rgba(163, 116, 94, 0.87);
    color: rgb(233, 233, 230);
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}